<div class="c-section__content c-grid__container-spaced">
  <div class="c-section__content-block c-grid__col c-grid__col--24 c-grid__col--md-16">
    <div class="c-card c-card--hasnext">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Informazioni personali
        </div>
      </div>
      <div class="c-card__body">
        <%= form_tag matilda_core.profile_edit_info_action_path, method: :post, remote: true, data: { controller: 'form', action: 'ajax:success->form#validateResponse', 'form-reload': 'true' }, class: 'c-form c-grid__container-spaced' do %>
          <div class="c-input c-grid__col c-grid__col--24">
            <label class="c-input__label" for="name">Nome</label>
            <input class="c-input__field" type="text" name="name" id="name" autocomplete="off" data-target="form.field" value="<%= @session.user.name %>" required>
          </div>
          <div class="c-input c-grid__col c-grid__col--24">
            <label class="c-input__label" for="surname">Cognome</label>
            <input class="c-input__field" type="text" name="surname" id="surname" autocomplete="off" data-target="form.field" value="<%= @session.user.surname %>" required>
          </div>

          <div class="c-form__actions c-grid__col c-grid__col--24">
            <button class="c-button" data-target="form.submit">Aggiorna</button>
          </div>
        <% end %>
      </div>
    </div>
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Indirizzi email
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <a class="c-button jss-modal-activator" href="#addEmailModal">Aggiungi</a>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <% if @session.user.user_emails.length.positive? %>
          <table class="c-table">
            <thead>
              <tr>
                <th>Indirizzo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @session.user.user_emails.sort_by { |ue| ue.primary ? 0 : 1 }.each do |user_email| %>
                <tr>
                  <td>
                    <%= user_email.email %>
                  </td>
                  <td class="c-table__actions">
                    <% if user_email.primary %>
                      Indirizzo primario
                    <% else %>
                      <a class="c-button c-button--orange" data-tippy-content="Elimina" data-controller="link tippy" data-action="ajax:success->link#validateResponse" data-method="post" data-remote="true" data-link-reload="true"  href="<%= matilda_core.profile_remove_email_action_path(email: user_email.email) %>">
                        <i class="fas fa-trash"></i>
                      </a>
                      <a class="c-button" data-tippy-content="Imposta come primario" data-controller="link tippy" data-action="ajax:success->link#validateResponse" data-method="post" data-remote="true" data-link-reload="true" href="<%= matilda_core.profile_toggle_email_primary_action_path(email: user_email.email) %>">
                        <i class="fas fa-star"></i>
                      </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="c-message">
            <div class="c-message__title">Nessuna email registrata</div>
            <div class="c-message__content c-message__content--small">
              Inserisci un indirizzo email per utilizzare la piattaforma.
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24 c-grid__col--md-8">
    <div class="c-card c-card--hasnext">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Username
        </div>
      </div>
      <div class="c-card__body">
        <%= form_tag matilda_core.profile_edit_username_action_path, method: :post, remote: true, data: { controller: 'form', action: 'ajax:success->form#validateResponse', 'form-reload': 'true' }, class: 'c-form c-grid__container-spaced' do %>
          <div class="c-input c-grid__col c-grid__col--24">
            <label class="c-input__label" for="username">Username</label>
            <input class="c-input__field" type="text" name="username" id="username" autocomplete="off" data-target="form.field" value="<%= @session.user.username %>" required>
          </div>

          <div class="c-form__actions c-grid__col c-grid__col--24">
            <button class="c-button" data-target="form.submit">Aggiorna</button>
          </div>
        <% end %>
      </div>
    </div>
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Aggiornamento password
        </div>
      </div>
      <div class="c-card__body">
        <%= form_tag matilda_core.profile_edit_password_action_path, method: :post, remote: true, data: { controller: 'form', action: 'ajax:success->form#validateResponse', 'form-reload': 'true' }, class: 'c-form c-grid__container-spaced' do %>
          <div class="c-input c-grid__col c-grid__col--24">
            <label class="c-input__label" for="password_old">Password attuale</label>
            <input class="c-input__field" type="password" name="password_old" id="password_old" autocomplete="off" data-target="form.field" required>
          </div>

          <div class="c-input c-grid__col c-grid__col--24">
            <label class="c-input__label" for="password">Nuova password</label>
            <input class="c-input__field" type="password" name="password" id="password" autocomplete="off" data-target="form.field" required>
          </div>

          <div class="c-input c-grid__col c-grid__col--24">
            <label class="c-input__label" for="password_confirmation">Conferma nuova password</label>
            <input class="c-input__field" type="password" name="password_confirmation" id="password_confirmation" autocomplete="off" data-target="form.field" required>
          </div>

          <div class="c-form__actions c-grid__col c-grid__col--24">
            <button class="c-button" data-target="form.submit">Aggiorna</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="c-modal" id="addEmailModal" data-controller="modal" data-target="modal.container">
    <div class="c-modal__overlay" data-action="click->modal#close"></div>

    <div class="c-modal__box">
      <div class="c-card">
        <div class="c-card__header">
          <div class="c-card__header-title">
            Aggiungi nuovo indirizzo email
          </div>

          <ul class="c-card__header-actions">
            <li class="c-card__header-action">
              <a class="c-button c-button--black" data-action="click->modal#close">Annulla</a>
            </li>
          </ul>
        </div>
        <div class="c-card__body">
          <%= form_tag matilda_core.profile_create_email_action_path, method: :post, remote: true, data: { controller: 'form', action: 'ajax:success->form#validateResponse', 'form-reload': 'true' }, class: 'c-form c-grid__container-spaced' do %>
            <div class="c-input c-grid__col c-grid__col--24">
              <label class="c-input__label" for="addEmailModalEmail">Indirizzo email</label>
              <input class="c-input__field" name="email" id="addEmailModalEmail" data-target="form.field" placeholder="Inserisci il tuo indirizzo email">
            </div>

            <div class="c-form__actions c-grid__col c-grid__col--24">
              <button class="c-button" data-target="form.submit">Conferma</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>