<div class="c-card c-card--centerpage">
  <div class="c-card__header">
    <div class="c-card__header-title">
      <%= I18n.t 'matilda_core.titles.recover_password' %>
    </div>

    <ul class="c-card__header-actions">
      <li class="c-card__header-action">
        <a class="c-button c-button--black" href="<%= matilda_core.authentication_login_view_path %>"><%= I18n.t 'matilda_core.cta.login' %></a>
      </li>
    </ul>
  </div>
  <div class="c-card__body">
    <%= form_tag matilda_core.authentication_recover_password_action_path, method: :post, remote: true, data: { controller: 'form', action: 'ajax:success->form#validateResponse', 'form-redirect': matilda_core.authentication_recover_password_complete_view_path }, class: 'c-form c-grid__container-spaced' do %>
      <div class="c-input c-grid__col c-grid__col--24">
        <label class="c-input__label" for="username_email"><%= I18n.t 'matilda_core.labels.username_or_email' %></label>
        <input class="c-input__field" type="text" name="username_email" id="username_email" placeholder="<%= I18n.t 'matilda_core.helps.insert_username_or_email' %>" autocomplete="off" data-target="form.field" required>
      </div>

      <div class="c-form__actions c-grid__col c-grid__col--24">
        <button class="c-button" data-target="form.submit"><%= I18n.t 'matilda_core.cta.confirm' %></button>
      </div>
    <% end %>
  </div>
</div>
