<div class="c-card c-card--centerpage">
  <div class="c-card__header">
    <div class="c-card__header-title">
      <%= I18n.t 'matilda_core.titles.update_password' %>
    </div>

    <ul class="c-card__header-actions">
      <li class="c-card__header-action">
        <a class="c-button c-button--black" href="<%= matilda_core.authentication_login_view_path %>"><%= I18n.t 'matilda_core.cta.login' %></a>
      </li>
    </ul>
  </div>
  <div class="c-card__body">
    <%= form_tag matilda_core.authentication_update_password_action_path, method: :post, remote: true, data: { controller: 'form', action: 'ajax:success->form#validateResponse', 'form-redirect': matilda_core.authentication_update_password_complete_view_path }, class: 'c-form c-grid__container-spaced' do %>
      <input name="user_uuid" value="<%= @user_uuid %>" type="hidden" />

      <div class="c-input c-grid__col c-grid__col--24">
        <label class="c-input__label" for="recover_password_code"><%= I18n.t 'matilda_core.labels.security_code' %></label>
        <input class="c-input__field" type="text" name="recover_password_code" id="recover_password_code" placeholder="<%= I18n.t 'matilda_core.helps.insert_security_code' %>" autocomplete="off" data-target="form.field" value="<%= @code %>" required>
      </div>

      <div class="c-input c-grid__col c-grid__col--24">
        <label class="c-input__label" for="password"><%= I18n.t 'matilda_core.labels.new_password' %></label>
        <input class="c-input__field" type="password" name="password" id="password" placeholder="<%= I18n.t 'matilda_core.helps.insert_new_password' %>" autocomplete="off" data-target="form.field" required>
      </div>

      <div class="c-input c-grid__col c-grid__col--24">
        <label class="c-input__label" for="password_confirmation"><%= I18n.t 'matilda_core.labels.new_password_confirmation' %></label>
        <input class="c-input__field" type="password" name="password_confirmation" id="password_confirmation" placeholder="<%= I18n.t 'matilda_core.helps.insert_new_password_confirmation' %>" autocomplete="off" data-target="form.field" required>
      </div>

      <div class="c-form__actions c-grid__col c-grid__col--24">
        <button class="c-button" data-target="form.submit"><%= I18n.t 'matilda_core.cta.confirm' %></button>
      </div>
    <% end %>
  </div>
</div>
