<header class="c-header" data-controller="header">
  <a href="<%= matilda_core.root_path %>" class="c-header__logo">
    <span class="c-header__logo-title"><%= MatildaCore.config.global_title %></span>
  </a>

  <% if @session %>
    <nav class="c-header__nav">
      <div class="c-header__nav-item">
        <button class="c-header__nav-item-action" data-action="click->header#toggleProfile" title="Profilo">
          Profilo
        </button>

        <div class="c-header__nav-menu" data-target="header.profileMenu">
          <ul class="c-header__nav-menu-list">
            <li class="c-header__nav-menu-list-item">
              <a class="c-header__nav-menu-list-item-link" data-controller="link" data-action="ajax:success->link#validateResponse" data-method="post" data-remote="true" data-link-redirect="<%= matilda_core.profile_index_view_path %>" href="<%= matilda_core.groups_unselect_action_path %>">
                Impostazioni Account
              </a>
            </li>
            <li class="c-header__nav-menu-list-item">
              <a class="c-header__nav-menu-list-item-link" data-controller="link" data-action="ajax:success->link#validateResponse" data-method="post" data-remote="true" data-link-redirect="<%= matilda_core.groups_select_view_path %>" href="<%= matilda_core.groups_unselect_action_path %>">
                I miei gruppi
              </a>
            </li>
            <li class="c-header__nav-menu-list-item">
              <a class="c-header__nav-menu-list-item-link" data-controller="link" data-action="ajax:success->link#validateResponse" data-method="post" data-remote="true" data-link-redirect="<%= matilda_core.authentication_login_view_path %>" href="<%= matilda_core.authentication_logout_action_path %>">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="c-header__nav-item">
        <button class="c-header__nav-item-action" data-action="click->header#toggleMenu" title="menu">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </nav>
  <% end %>

</header>